@import url("../../reset.css");
@import url("../../App.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --max-height-var: 100px;
    font-size: medium;
}
.containter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: medium;
    border: black solid;
    min-height: 1em;
    max-height: 20%;
    align-items: center;
    background: var(--back-ground-color);
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 6em;
}

.logo{
    width: 70px;
    margin-right: 10px;
}
.logoText{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: larger;
}
.leftToolBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: var(--max-height-var);
    flex-wrap: wrap;
}

.rightToolBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-height: var(--max-height-var);
    margin-right: 3em;
    flex-wrap: wrap;
}

.button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 14px 16px;
    font-size: 1.3em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.button:hover{
    background-color: var(--button-secondary-hover-color);
}
.imageButton{
    margin: 0.5em;
}
#loginButton{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#loginButton:hover{
    background: var(--button-primary-hover-color);
    color: var(--secondary-color);
}

#registerButton{
    background-color: hsl(43, 88%, 62%);
}

#registerButton:hover {
    background-color: var(--button-secondary-hover-color);
}

.userName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.6em;
}
