.roomContainer{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f3c348;
}

.roomListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}