.metaBoxContainer{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.userMetaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user1Meta{
    display: flex;
    flex-direction: row;
}
.user2Meta{
    display: flex;
    flex-direction: row;
}
